* {
    margin: 0;
    padding: 0;
}

body,
.left-side{
    display : flex;
    flex-direction: column;
}

.body {
    font-family:Arial, Helvetica, sans-serif
} 

header {
    background-color:turquoise;
    padding: 1em 13em;
}

.logo1 {
    color: black;
    font-weight: 900;
    font-size: 60px;
    font-style: italic;
}

.logo2 {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 68px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items:baseline;
}

.nav .right-side{
    font-weight: 900;
    font-size: 48px;
}
.nav ul {
    list-style: none;
    display: flex;
    gap: 1.5em;
}

.meaning,
a:link {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.welcome {
    padding: 7em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.welcome .left-side {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.welcome .right-side {
    flex-shrink: 0;
    width: 40%;
}

button {
    padding: 7px 1em;
    width: 140px;
    background-color: #3882F6;
    border-radius: 8px;
}

.welcome button {
    border: none;
}

.soma {
        color: black;
        font-weight: 900;
        font-size: 24px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    gap:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3em 0 6em 0; 
    font-size: xx-large;
}

.picture img{
    background-color: turquoise;
    display: flex;
    align-items:flex-end;
    height: 300px;
    width: 500px;
    border: solid black 2px;
    border-radius: 10px;
}

.info img {
    height:250px;
    border-radius: 10px;
    border:solid black 2px;
    width: 250px;
}

.info p {
    display: flex;
    width:275px;
    text-align:center; 
    align-items: center;
    justify-content: center;
    color: black;
}



main {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    padding: 0 13em;
    margin-top: 3em;
    
}

main h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

img {
    width: 180px;
    height: 180px;
    display: grid;
    justify-content:space-between;
    flex-direction: row;  
}

.quote {
    background-color: #E5E7EB;
    justify-content: center;
    text-align: center;
}

.author{
    font-style: normal;
    font-weight: 900;
    text-align: right;
}

.phrase {  
    margin-top:100px;
    margin-bottom: 100px;
    font-size: 56px;
    font-style:italic;
    font-weight:400;
    color:#1F2937;
    margin-left: 150px;
    margin-right: 150px;
}

.footer {
    background-color: turquoise;
    font-size: large;
    text-align: center;
    padding: 20px;
}

.sign-up {
    margin:80px 150px 80px 150px;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    height:140px;
    width:1000px;
    background-color: #3882F6;
    color:#F9FAF8;
    border-radius:5px;
    display: flex;
}

.sign-up .meaning {
    align-self: center;
    padding:5px 25px 5px 25px;
    color:#F9FAF8;
    background-color: #3882F6;
    border-radius: 10px;
    border-color: #F9FAF8;
}

.sign-up .left-side {
    font-weight: 900;
    font-size: 18px;
    margin:40px 0 0 0;
}

.called {
    margin:0 0 40px 0;
}